fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
pydantic==2.8.2
passlib[bcrypt]==1.7.4
PyJWT==2.9.0
SQLAlchemy==2.0.34
psycopg2-binary==2.9.9
httpx==0.27.2
python-dotenv==1.0.1
pdfminer.six==20240706
numpy==2.0.1
scipy==1.14.1
